@model IEnumerable<MVCBlog.Entity.Models.User>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="color:black">Guest List</h4>


<table class="table table-hover" style="color:black">
    <tr class="table-success"   >
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="table"style="color:black">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        
    </tr>
}

</table>
