@using MVCBlog.Entity.ViewModel
@using MVCBlog.Entity.Models
@model ArticleViewModel
@{
    ViewBag.Title = "AddArticle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Article</h2>
<script src="~/Areas/Admin/Content/newckeditor/ckeditor/ckeditor.js"></script>
@*<script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>*@
<h2>@ViewBag.Mesaj</h2>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript">
    function imagepreview(input) {
        if (input.files && input.files[0]) {
            var filerd = new FileReader();
            filerd.onload = function (e) {
                $('#imgpreview').attr('src', e.target.result);
            };
            filerd.readAsDataURL(input.files[0]);
        }
    }


</script>

@using (Html.BeginForm("AddArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-row">
        <div class="form-group col-md-5 mr-5">

            <h4><span class="label label-primary" style="color:black">Title</span></h4>
            <div style="width:100%">
                @Html.EditorFor(model => Model.Article.Title, new { htmlAttributes = new { @class = "w-100" } })
            </div>
            <p>
                <code>max-length</code> set to 80.
            </p>

            @Html.ValidationMessageFor(model => model.Article.Title, "", new { @class = "text-danger" })



            <div class="form-group">
                <h4><label for="exampleFormControlSelect2" style="color: black">Category</label></h4>
                @Html.DropDownListFor(model => model.Article.Category_ID, Model.CategoryList, new { @class = "w-100" })

            </div>

            <div class="form-group">
                <h4><label for="exampleFormControlSelect2" style="color: black">Show</label></h4>
                @Html.DropDownListFor(model => model.Article.IsActive, Model.ActiveList, new { @class = "w-100" })

            </div>

            @*<div class="form-group">
                <label>Attributes</label>
                <div class="multi-field-wrapper">
                    <div class="multi-fields">
                        <div class="multi-field">
                            
                                <div>
                                    @Html.EditorFor(model => model.Tag.TagName)

                                    <button type="button" class="remove-field">Remove</button>
                                </div>


                        </div>
                    </div>
                    <button type="button" class="add-field">New Tag</button>
                </div>
            </div>*@


            <div class="form-group">
                <h4><label for="exampleFormControlSelect2" style="color: black">Media</label></h4>
                <input type="file" id="photo" onchange="imagepreview(this);" name="photo" />
                <img id="imgpreview" style="max-width:600px" />

            </div>
        </div>

        <div class="form-group col-md-6">
            <h4><span class="label label-primary " style="color:black">Content</span></h4>

            @Html.TextAreaFor(model => model.Article.Text, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article.Text, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mt-lg-5">
                    <button type="submit" style="width:110px" class="btn btn-success ml-1"><i class="fas fa-plus-circle"></i> Add</button>
                </div>
            </div>
        </div>
    </div>


}

<script  type="text/javascript">
    $('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').placeholder('quantity').focus();
    });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
});
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

